<header class="navbar">
  <div class="logo">Parking App</div>
  <div *ngIf="isMenuOpen" class="close-btn" (click)="toggleMenu()">X</div>
  <div *ngIf="!isMenuOpen" class="menu-btn" (click)="toggleMenu()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <nav class="nav-items" [ngClass]="{ 'show-menu': isMenuOpen }">
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/park">Park</a></li>
      <li><a routerLink="/help">Help</a></li>
    </ul>
  </nav>
</header>
