<p class="title-step">Start parking</p>
<div class="card">
    <p class="step-form">Step 1/2</p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-field">
        <label for="plate">*Plate:  
          <p class="error-text" *ngIf="isInvalidField('plate')"> is required.</p>
        </label>
        <input type="text" id="plate" formControlName="plate" [ngClass]="{error: isInvalidField('plate')}"/>
      </div>
  
      <div class="form-field">
        <label for="city">*City:
          <p class="error-text" *ngIf="isInvalidField('city')"> is required.</p>
        </label>
        <select id="city" formControlName="city" [ngClass]="{error: isInvalidField('city')}" (change)="onCitySelected()">
          <option value="">Select a city</option>
          <option *ngFor="let city of cities" value="{{city.name}}">{{city.name}}</option>
        </select>
      </div>
  
      <div class="form-field">
        <label for="parkZone">*Park Zone:
          <p class="error-text" *ngIf="isInvalidField('parkZone')"> is required.</p>
        </label>
        <select id="parkZone" formControlName="parkZone" [ngClass]="{error: isInvalidField('parkZone')}">
          <option value="">{{ placeholderParkingZones }}</option>
          <option *ngFor="let zone of parkingZones" value="{{zone.name}}">{{zone.name}}</option>
        </select>
      </div>
  
      <div class="form-field">
        <label for="duration">*Duration:
          <p class="error-text" *ngIf="isInvalidField('duration')"> is required.</p>
        </label>
        <input type="time" id="duration" formControlName="duration" [ngClass]="{error: isInvalidField('duration')}"/>
      </div>
      <app-button [disabled]="!form.valid" class="confirm-btn">Confirm</app-button>
    </form>
  </div>
  