input {
  box-sizing: border-box;

  &:focus {
    outline-width: 0;
    outline: none;
  }
}
.card {
  border: 1px solid var(--grey-light);
  border-radius: 10px;
  padding: 30px;
  width: 50%;
  margin: 20px auto;

  // start step indicator styles
  .step-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin: 20px auto;

    img {
      width: 20px;
      padding-top: 5px;
    }
  }

  .step {
    display: flex;
    align-items: center;
  }

  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    color: var(--white);
    background-color: var(--grey-light);
    margin: 0;
  }

  .line {
    width: 20vw;
    height: 3px;
    background-color: var(--grey-light);
  }

  .active {
    background-color: var(--secondary);
  }
  // end step indicator styles

  .form-field {
    margin-bottom: 20px;

    .error {
      border: 1px solid var(--error) !important;
    }

    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;

      .error-text {
        display: inline;
        font-weight: 400;
        font-size: 15px;
        color: var(--error);
      }
    }

    input[type="text"],
    input[type="email"],
    select {
      width: 100%;
      height: 40px;
      padding: 10px;
      border: 1px solid var(--grey-light);
      border-radius: 5px;
      font-size: 16px;
      margin-top: 5px;
    }

    input[type="range"] {
      -webkit-appearance: none;
      appearance: none;
      background-color: var(--primary);
      height: 5px;
      border-radius: 5px;
      width: 100%;
      &::-webkit-slider-thumb {
        -webkit-appearance: none;

        background: var(--primary-light);
        cursor: pointer;
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }
    }

    .time-box {
      justify-content: center;
      margin-top: 10px;
      display: grid;
    }
    .time-added {
      border-radius: 30px;
      background-color: var(--secondary);
      display: flex;
      justify-content: center;
      width: 290px;
      height: 50px;
      align-items: center;
    }

    .time-expires {
      font-size: 13px;
      margin: 0 auto;
    }
  }
}

.parking-form-title {
  display: flex;
  justify-content: center;
  font-family: "Lobster", cursive;
  font-weight: normal;
  color: var(--secondary);
}

@media (max-width: 768px) {
  .card {
    width: 80%;

    .time-box {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 10px;

      .time-added {
        width: 240px;
      }

      .time-expires {
        font-size: 12px;
      }
    }
  }
}

.container {
  padding: 1.875rem;
  width: 25%;
  margin: 1.25rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

  @media (max-width: 768px) {
    width: 85%;
  }

  .card-success {
    width: 85%;
    text-align: center;
    padding: 1.25rem;
    background-color: #ffffff;
    box-shadow: 0rem 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;

    .card-content {
      img {
        width: 150px;
      }

      h1 {
        font-size: 1.5rem;
        margin-top: 0.625rem;
      }
    }
  }
}

