
.button {
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 1.5rem;
  color: var(--primary);
  background-color: transparent;
  border: 2px solid var(--primary);
  transition: background-color 0.3s, color 0.3s;
  width: 60vw;
  height: 8vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  &:hover {
    background-color: var(--secondary-light);
    color: var(--primary-dark);
  }

  @media (max-width: 768px) {
    font-size: 2rem;
    width: 80vw;
    height: 10vh;
  }
}