@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@300;400;600&display=swap');
// font-family: 'Lobster', cursive;
// font-family: 'Raleway', sans-serif;
* {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
}


:root {
  /* Primary */
  --primary: #54428eff;
  --primary-dark: rgb(58, 44, 106);
  --primary-light: #8963baff;
  /* Secondary */
  --secondary: #90c290ff;
  --secondary-dark: #688b58ff;
  --secondary-light: #afe3c0ff;
  /* Neutral */
  --grey: #b0b8bf;
  --grey-dark: #8a9298;
  --white: #ffffff;
  --black: #000000;
  --ultra-grey: #1c1c1c;
  --error: #ff4c4c;
}